<p>contact works!</p>


<!-- The defference between ngSubmit and submit is event.preventDefault not work in ngSubmit -->
<form (submit)="onSubmit($event, name, email, contact)" class="width border gap" style="display: flex; column-gap: 12px; flex-direction: column;">
  <div class="" style="display: flex; flex-direction: column;" >
    <label for="name">Name</label>
    <!-- ngModelChange no need to use this its only call for funcation exicute for any sertail condition change -->
    <!-- <input id="name"  [(ngModel)]="name" (ngModelChange)="setName($event)"  type="text" [ngModelOptions]="{standalone: true}" placeholder="Enter your name" /> -->
    <input id="name" [value]="name" (input)="setName($event)" type="text" placeholder="Enter your name" />
  </div>
  
  <div class="" style="display: flex; flex-direction: column;" >
    <label for="email">Email</label>
    <input id="email" [value]="email" (input)="setEmail($event)" type="text" placeholder="Enter your Email" />
  </div>
  <div class="" style="display: flex; flex-direction: column;" >
    <label for="number">Contact Number</label>
    <input id="number" [value]="contact" (input)="setContact($event)" type="number" placeholder="Enter your Number" />
  </div>
  <button [disabled]="disable" type="submit">Submit</button>
</form>

  <app-user-data [userData]="user" (isVisible)="isVisibleFun($event)" ></app-user-data>
  <h2>End</h2>

