<p>contact works!</p>

<form class="width border gap" style="display: flex; column-gap: 12px; flex-direction: column;">
  <div class="" style="display: flex; flex-direction: column;" >
    <label for="name">Name</label>
    <input id="name" type="text" placeholder="Enter your name" />
  </div>
  <div class="" style="display: flex; flex-direction: column;" >
    <label for="email">Email</label>
    <input id="email" type="text" placeholder="Enter your Email" />
  </div>
  <div class="" style="display: flex; flex-direction: column;" >
    <label for="number">Contact Number</label>
    <input id="number" type="number" placeholder="Enter your Number" />
  </div>
</form>
